<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Furla</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/style.css" />
    <script type="text/javascript" src="http://wechatjs.curio.im/api/v1/js/b205e622-e695-4157-b5d2-eae508c0454a/wechat.js"></script>
    <script type="text/javascript" src="/assets/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/pre-loader.js"></script>
    <script type="text/javascript" src="/assets/js/lib/reqAnimate.js"></script>
    <script type="text/javascript" src="/assets/js/lib/shake.js"></script>
    <script type="text/javascript" src="/assets/js/rem.js"></script>
    <script type="text/javascript" src="/assets/js/productsjson.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/wxshare.js"></script>
    <script type="text/javascript" src="/assets/js/api.js"></script>
    <script type="text/javascript" src="/assets/js/gift.js"></script>
</head>
<body class="page-form">
<div class="wrapper">
    <div class="content">
        <div class="logo">
            <img src="/dist/images/logo.png" alt=""/>
        </div>
        <h2 class="title">
            填写信息抽取精美礼品<br>
            抽取<span class="name">谭元元</span>提供的精美礼品
        </h2>
        <form id="form-contact">
            <div class="form-information">
                <div class="input-box input-box-name">
                    <label for="input-name">姓名:</label>
                    <input type="text" id="input-name" placeholder="姓名"/>
                </div>
                <div class="input-box input-box-mobile">
                    <label for="input-mobile">手机:</label>
                    <input type="tel" maxlength="11" id="input-mobile" placeholder="手机"/>
                </div>
                <div class="input-box input-box-address">
                    <label for="input-address">地址:</label>
                    <input type="text" id="input-address" placeholder="地址"/>
                </div>
            </div>
            <div class="btn btn-submit">提 交</div>
        </form>
    </div>

</div>


</body>


</html>
