<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Furla</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/style.css" />
    <script type="text/javascript" src="/assets/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
    <!--<script type="text/javascript" src="../dist/js/all.min.js"></script>-->
</head>
<body class="page-home">
    <div class="wrapper">
        <div class="container">
            <div class="drag-panel">
                <div class="drag-ele"></div>
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item-content">
                                <div class="slide-block slide-block-1" pid="100">
                                    <img src="/assets/images/clock/CLOCK_00000.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-block-2">
                            <div class="item-content">
                                <div class="slide-block" pid="101">
                                    <img src="/assets/images/clock/CLOCK_00001.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-block-3">
                            <div class="item-content">
                                <div class="slide-block" pid="102">
                                    <img src="/assets/images/clock/CLOCK_00002.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-block-4">
                            <div class="item-content">
                                <div class="slide-block"  pid="103">
                                    <img src="/assets/images/clock/CLOCK_00003.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <!--<div class="swiper-pagination"></div>-->
                </div>

                <div class="dest-block">
                    <div class="item item-1">
                        位置1
                    </div>
                    <div class="item item-2">
                        位置1
                    </div>
                    <div class="item item-3">
                        位置1
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="inner">
            <h3 class="title">活动细则</h3>
            <div class="pcontent">
                <p class="t1">在符合法律相关规定的情况下，您必须同意活动主办方获得您的姓名，头像与个人信息，主办方并不需要为此再支付额外费用或另行通知。活动主办方有权依据相关法律法规或业务需要，中止或取消此次活动或者修改活动方案，经相关途径公告后生效。</p>
                <p class="t2">活动奖品 由蔻驰提供的精美礼品80份。公布获奖名单后活动主办方将统一邮寄给到获奖者。</p>
                <p class="t3">本次活动最终解释权归蔻驰贸易（上海）有限公司所有。</p>
            </div>
            <div class="btn-close"></div>
        </div>
    </div>


</body>


</html>
