<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Furla</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/style.css" />
    <script type="text/javascript" src="/assets/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="/assets/js/rem.js"></script>
    <script type="text/javascript" src="/assets/js/productsjson.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/api.js"></script>
    <script type="text/javascript" src="/assets/js/gift.js"></script>
</head>
<body class="page-home">
<div class="wrapper">
    <div class="bg">
        <div class="bg-layer-1"></div>
        <div class="bg-layer-2"></div>
    </div>
    <div class="container">
        <!-- shake page-->
        <section class="pin pin-gift-1 current">
            <div class="logo">
                <img src="/dist/images/logo.png" alt=""/>
            </div>
            <div class="content">
                <div class="pg1-t1">
                    <img src="/dist/images/t-open.png" alt=""/>
                </div>
            </div>
            <div class="box-bottom">
                <div class="dest-block-wrap">
                    <div class="dest-block">
                        <div class="item item-dest item-1">
                            <img src="/dist/images/products/p1.png" alt=""/>
                        </div>
                        <div class="item item-dest item-2">
                            <img src="/dist/images/products/p2.png" alt=""/>
                        </div>
                        <div class="item item-dest item-3">
                            <img src="/dist/images/products/p3.png" alt=""/>
                        </div>
                    </div>
                    <div class="card animate">
                        <img src="/dist/images/card.png" alt=""/>
                    </div>
                </div>
                <div class="pg1-t2 hide">
                    <img src="/dist/images/text-3.png" alt=""/>
                </div>
            </div>
            <!-- 信件-->
            <div class="section-letter animate delay1 fade hide">
                <div class="logo">
                    <img src="/dist/images/logo.png" alt=""/>
                </div>
                <div class="bg-layer-2"></div>
                <div class="letter-wrap">
                    <div class="letter-header">
                        <label>敬爱的</label>
                        <input type="text" id="input-name-1"/>
                    </div>
                    <div class="letter-content">
                        <!--FURLA全新系列带着我最深刻的祝福，-->
                        <!--用绽放的星芒，-->
                        <!--为您装点一个绚烂的惊喜。-->
                        <textarea name="l-content" id="l-content"  cols="30" rows="3" wrap="hard" maxlength="60"></textarea>
                        <!--<div contenteditable="true" class="test" style="font-size: 0.26rem;line-height: 2">敬爱的</div>-->
                    </div>
                    <div class="letter-bottom">
                        <label>敬爱的</label>
                        <input type="text" id="input-name-2"/>
                    </div>
                    <div class="letter-date">2016年11月24日</div>
                </div>
                <div class="btn btn-postcard"><span>参与抽奖</span></div>
            </div>
            <div class="box-top animate"></div>
        </section>
        <!-- show gift-->
        <!--<section class="pin pin-gift-2 current">-->
            <!--<div class="v-content">-->
                <!--<div class="logo">-->
                    <!--<img src="/dist/images/logo.png" alt=""/>-->
                <!--</div>-->
                <!--<div class="content">-->
                    <!--您收到一份惊喜好礼-->
                    <!--摇一摇就能打开它！-->
                <!--</div>-->
                <!--<div class="box-top"></div>-->
            <!--</div>-->
        <!--</section>-->

    </div>


</div>


</body>


</html>
