<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Furla</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/style.css" />
    <script type="text/javascript" src="/assets/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="/assets/js/rem.js"></script>
    <script type="text/javascript" src="/assets/js/productsjson.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/api.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
</head>
<body class="page-home">
<div class="wrapper">
    <div class="bg">
        <div class="bg-layer-1"></div>
    </div>
    <div class="container">
        <!-- welcome page-->
        <section class="pin pin-1 current">
            <div class="v-content">
                <div class="logo">
                    <img src="/dist/images/logo.png" alt=""/>
                </div>
                <div class="content">
                    <img src="/dist/images/p1-t1.png" alt=""/>
                </div>
                <div class="arrow-next"></div>
                <div class="show-rule">活动细则</div>
            </div>
            <div class="bg-layer-2"></div>
        </section>
        <!-- select product page-->
        <section class="pin pin-2">
            <div class="logo">
                <img src="/dist/images/logo.png" alt=""/>
            </div>
            <div class="p2-t1">
                <img src="/dist/images/p2-t1.png" alt=""/>
            </div>
            <div class="drag-panel">
                <div class="drag-ele"></div>
                <!-- Swiper -->
                <div id="swiper-products">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- swiper content-->
                            <div class="swiper-slide">
                                <div class="item-content">
                                <div class="slide-block" pid="100">
                                    <img src="/dist/images/products/p1.png" alt=""/>
                                </div>
                                </div>
                                <div class="product-name">FURLA_METROPOLIS MINI CROSSBODY</div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="dest-block">
                    <div class="item item-dest item-1">

                    </div>
                    <div class="item item-dest item-2">

                    </div>
                    <div class="item item-dest item-3">

                    </div>

                </div>
            </div>
            <div class="btn btn-writecard hide"><span>写下你的祝福</span></div>
        </section>
        <!-- postcard page-->
        <section class="pin pin-3">

        </section>
    </div>


</div>
<div class="popup">
    <div class="inner">
        <h3 class="title">活动细则</h3>
        <div class="pcontent">
            <p class="t1">在符合法律相关规定的情况下，您必须同意活动主办方获得您的姓名，头像与个人信息，主办方并不需要为此再支付额外费用或另行通知。活动主办方有权依据相关法律法规或业务需要，中止或取消此次活动或者修改活动方案，经相关途径公告后生效。</p>
            <p class="t2">活动奖品 由蔻驰提供的精美礼品80份。公布获奖名单后活动主办方将统一邮寄给到获奖者。</p>
            <p class="t3">本次活动最终解释权归蔻驰贸易（上海）有限公司所有。</p>
        </div>
        <div class="btn-close"></div>
    </div>
</div>


</body>


</html>
