html,body{
  width: 100%;
  height: 100%;
}
//wrapper
.wrapper{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
}
.bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
  overflow: hidden;
  .bg-layer-1{
    position: absolute;
    left: 0;
    top: 0;
    @include size(2.67rem,2.56rem);
    background: url("../images/bg-layer-1.png") no-repeat;
    background-size: cover;
    &.bg-right{
      left: auto;
      right: -0.2rem;
      @include transform(rotate(90deg));
    }
  }
}

.pin{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  overflow: hidden;
  &.current{
    display: block;
  }
}

.container{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  @include size(100%,100%);
}
.logo{
  @include size(2.85rem,1.16rem);
  padding-top: 0.6rem;
  margin: 0 auto 0.4rem;
}
.btn{
  margin: 0 auto;
  min-width: 2.2rem;
  max-width: 4rem;
  border: #18131b 1px solid;
  border-radius: 6px;
  padding: 1px 1px 7px;
  span{
    margin-top: -5px;
    display: block;
    padding: 0.15rem 0rem;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 0.3rem;
    letter-spacing: 1px;
    box-shadow: #333 1px 3px 2px;
  }
  a{
    display: block;
    color: #fff;
    text-decoration: none;
  }
}

//verticle align
.v-content{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
}

.bg-layer-2{
  position: absolute;
  bottom: 0;
  left:0;
  @include size(100%,1.98rem);
  background: url("../images/bg-layer-2.png") no-repeat;
  background-size: 100%;
  z-index: 1;
}

/*For pin1*/
.pin-1{

  .content{
    position: relative;
    z-index: 2;
    @include size(5.11rem,4.64rem);
    margin: 0 auto;
  }
  .arrow-next{
    position: relative;
    @include size(0.8rem,0.8rem);
    background: #fff;
    border-radius: 100%;
    margin: 0.3rem auto 0.5rem;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -0.15rem;
      margin-top: -0.25rem;
      @include size(0.3rem,0.3rem);
      border-left: #a6873b 0.04rem solid;
      border-bottom: #a6873b 0.04rem solid;
      @include transform(rotate(-45deg));
    }
  }
  .show-rule{
    padding: 0.1rem;
    font-size: 0.28rem;
    color: #957317;
    text-decoration: underline;
    text-align: center;
  }
}



/*End pin1*/


/* pin2 block*/
.p2-t1{
  @include size(5.79rem,auto);
  margin: 0 auto 0.4rem;
}


//drag-block
.drag-ele{
  position: absolute;
  z-index: 100;
  @include size(2.61rem,1.73rem);
  left: -2.7rem;
  top: -1.8rem;
  //background: red;
}
#swiper-products{
  position: relative;
  width: 90vw;
  margin: 0 auto 0.4rem;
  .swiper-container{
    padding-bottom: 0.5rem;
  }
  .swiper-button-next,
  .swiper-button-prev{
    background-image: url("../images/arrow.png");
    @include size(0.2rem,0.38rem);
    background-size: cover;
  }
  .swiper-button-prev{
    left: -3vw;
  }
  .swiper-button-next{
    right: -3vw;
    @include transform(rotate(180deg));
  }
  .product-name {
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 50%;
    width: 50vw;
    @include transform(translateX(-50%));
    text-align: center;
    font-size: 0.24rem;
    color: #18131c;
    opacity: 0.9;
  }
  .swiper-slide{
    opacity: 0.2;
  }
  .swiper-slide-next{
    opacity: 1;
    .product-name{
      display: block;
    }
  }
  .item-content{
    position: relative;
  }
}
.dest-block{
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  display:-ms-flexbox;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  /*混合版本语法*/
  -ms-flex-align: center;
  /*新版本语法*/
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  /*混合版本语法*/
  -ms-flex-pack: center;
  /*新版本语法*/
  -webkit-justify-content: center;
  justify-content: center;
  @include size(6.75rem,4.04rem);
  margin: 0 auto;
  //margin-top: 100px;
  background: url("../images/box-bottom.jpg") no-repeat;
  background-size: 100%;
  .item{
    @include size(26%,auto);
    margin: 0 0.1rem;
    text-align: center;
  }

}

.btn-writecard{
  margin-top: 0.4rem;
}

//for box-top
.box-top{
  position: absolute;
  left: calc(100vw - 2.6rem);
  top: calc(100vh - 3.15rem);
  z-index: 100;
  @include size(7.2rem,4.15rem);
  background: url("../images/box-top.png") no-repeat;
  background-size: 100%;
  @include transform(rotate(-30deg));
}

//for section-letter
.section-letter{
  position: absolute;
  right: 0;
  bottom: 0;
  @include size(100%,100%);
  z-index: 10;
  background: #fff;
  .logo{
    position: relative;
    z-index: 2;
    padding-top: 1.5rem;
  }
  .bg-layer-2{
    position: absolute;
    top: -0.5rem;
    left:0;
    @include size(100%,1.98rem);
    background: url("../images/bg-layer-2.png") no-repeat;
    background-size: 100%;
    z-index: 1;
    @include transform(rotate(180deg));
  }
  .btn-postcard{
    margin-top: 1rem;
  }
}

.letter-wrap{
  width: 5.6rem;
  margin: 0 auto;
  input[type="text"],textarea{
    font-size: 0.26rem;
    color: #18131c;
    &:focus{
      outline: none;
    }
  }
  label{
    display: inline-block;
    text-indent: -999em;
  }
  input[type="text"]{
    background: url("../images/line.png") bottom repeat-x;
    background-size: auto 1rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-indent: 0.2rem;
    border: none;
    -webkit-appearance:none;
  }
  .letter-header{
    label{
      @include size(1.17rem,0.33rem);
      background: url("../images/p2-t3.png") no-repeat;
      background-size: 100%;
    }
  }
  .letter-content{
    input,
    textarea {
      display: block;
      //font-size: 24px;
      //padding: 10px;
      //
      //color: red;
      //text-shadow: 0px 0px 0px #000;
      //-webkit-text-fill-color: transparent;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      //color: #ccc;
      //text-shadow: none;
      //-webkit-text-fill-color: initial;
    }
    textarea{
      width: 100%;
      overflow: hidden;
      height: 3rem;
      line-height: 1rem;
      -webkit-appearance: none;
      border: none;
      background-image: url("../images/line.png");
      background-repeat:repeat;
      background-size: auto 1rem;
      resize: none;
      text-align: center;
      //background-color: transparent;

      //&::first-line{
      //  line-height: 1rem;
      //}
    }
  }
  .letter-bottom{
    label{
      @include size(0.82rem,0.34rem);
      background: url("../images/p2-t4.png") no-repeat;
      background-size: 100%;
    }
  }
  .letter-date{
    color: #18131c;
    font-size: 0.22rem;
    text-align: right;
    margin-top: 0.2rem;
  }
}

//for pin3
.pin-3{
  .box-bottom{
    position: relative;
    opacity: 0;
    .dest-block-wrap{
      width: 6.75rem;
      height: 4.04rem;
      margin: 0 auto;
      background: url('../images/box-bottom.jpg') no-repeat;
      background-size: 100%;
    }
    .dest-block{
      position: relative;
      z-index: 2;
      background: none;
    }
    .card{
      position: absolute;
      z-index: 1;
      @include size(1.97rem,2.19rem);
      left: 50%;
      top: 46%;
      @include transform(translate(-50%,-50%));
      &.goright{
        left: 200vw;
      }
    }
  }
}
.pin-3-content{
  .logo{
    padding-top: 1.6rem;
  }
  .p3-t1{
    @include size(7.5rem,1.68rem);
    margin: 0 auto;
  }
}
//for pin-4
.pin-4{
  .logo{
    padding-top: 1.6rem;
  }
  .replace-text{
    @include size(3.2rem,0.8rem);
    margin: 1rem auto;
    &.rt-2{
      @include size(4.8rem,1.24rem);
    }
    &.rt-3{
      @include size(4.26rem,0.8rem);
    }
  }
  .btn-again{
    margin-top: 0.35rem;
  }
}


/*Start gift page*/
.box-animate{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  @include size(100%,100%);
  //background-image: url("../images/animate/L_00044.jpg");
  //background-repeat:  no-repeat;
  //background-size: cover;
  //background-position: center center;
}


.pin-gift-1{
  .logo{
    padding-top: 1.6rem;
  }
  .pg1-t1{
    @include size(2.98rem,0.76rem);
    margin: 0.45rem auto;
  }
  .box-bottom{
    position: relative;
    opacity: 0;
    .dest-block-wrap{
      width: 6.75rem;
      height: 4.04rem;
      margin: 0 auto;
      background: url('../images/box-bottom.jpg') no-repeat;
      background-size: 100%;
    }
    .dest-block{
      position: relative;
      z-index: 2;
      background: none;
    }
    .card{
      position: absolute;
      z-index: 1;
      @include size(1.97rem,2.19rem);
      left: 50%;
      top: 46%;
      @include transform(translate(-50%,-50%));
      &.goright{
        left: 200vw;
      }
    }
  }
  .box-top{
    top: 4.38rem;
    left: 50%;
    @include transform(translateX(-50%) rotate(0deg));
    &.open{
      left: calc(100vw - 2.6rem);
      top: calc(100vh - 3.15rem);
      @include transform(translateX(0%) rotate(-30deg));
    }
  }
  .pg1-t2{
    @include size(5.53rem,0.29rem);
    margin:  0.5rem auto 0;
  }
}

.pin-gift-3{
  .logo{
    padding-top: 1.6rem;
  }
  .replace-text{
    @include size(3.86rem,0.8rem);
    margin:  0.5rem auto 0.6rem;
    &.rt-2{
      @include size(3.48rem,1.3rem);
    }
  }
}


/*
*======
End gift page
====
*/

//Start page-form
.page-form{
  .logo{
    padding-top: 0;
  }
  .v-content{
    z-index: 10;
  }
}
#form-contact{
  width: 80vw;
  .title{
    @include size(2.65rem,0.31rem);
    margin: 0 auto 0.2rem;
  }
  input[type='text'],
  input[type='tel']{
    margin: 0;
    background: url("../images/input-bg.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    font-size: 0.24rem;
  }
  .input-box{
    margin-bottom: 0.1rem;
  }
  .input-box-name{
    input[type='text']{
      width: 49%;
    }
  }
  .input-box-mobile{
    input[type='text']{
      width: 25%;
    }
    input[type='tel']{
      width: 73%;
    }

  }
  .input-box-mail,
  .input-box-address{
    input[type='text']{
      width: 98%;
    }
  }
  .input-checkbox{
    color: #8b6602;
    font-size: 0.22rem;
    margin-bottom: 0.3rem;
  }
  .error{
    color: #d79939;
    font-size: 0.2rem;
  }
}

.success-block{
  position: relative;
  z-index: 2;
  .s-t1{
    @include size(1.3rem,1.5rem);
    margin: 0.5rem auto 0.5rem;
  }
  .btn-gohome{
    width: 3.6rem;
  }
}

//end page-form

