html,body{
  width: 100%;
  height: 100%;
}
//wrapper
.wrapper{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
}
.bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
  .bg-layer-1{
    position: absolute;
    left: 0;
    top: 0;
    @include size(2.67rem,2.56rem);
    background: url("../images/bg-layer-1.png") no-repeat;
    background-size: cover;
  }
}

.pin{
  display: none;
  &.current{
    display: block;
  }
}

.container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  @include size(100%,100%);
}
.logo{
  @include size(2.85rem,1.16rem);
  padding-top: 0.6rem;
  margin: 0 auto 0.4rem;
}
.btn{
  margin: 0 auto;
  min-width: 2.2rem;
  max-width: 4rem;
  border: #18131b 1px solid;
  border-radius: 6px;
  padding: 1px 1px 10px;
  span{
    margin-top: -5px;
    display: block;
    padding: 0.15rem 0.6rem;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 0.3rem;
    letter-spacing: 1px;
    box-shadow: #333 1px 6px 4px;
  }
  a{
    display: block;
    color: #fff;
    text-decoration: none;
  }
}


/* pin2 block*/
.p2-t1{
  @include size(5.79rem,auto);
  margin: 0 auto 0.4rem;
}


//drag-block
.drag-ele{
  position: absolute;
  z-index: 100;
  @include size(2.61rem,1.73rem);
  left: -2.7rem;
  top: -1.8rem;
  //background: red;
}
#swiper-products{
  position: relative;
  width: 90vw;
  margin: 0 auto 0.4rem;
  .swiper-container{
    padding-bottom: 1rem;
  }
  .swiper-button-next,
  .swiper-button-prev{
    background-image: url("../images/arrow.png");
    @include size(0.2rem,0.38rem);
    background-size: cover;
    margin-top: -0.8rem;
  }
  .swiper-button-prev{
    left: -3vw;
  }
  .swiper-button-next{
    right: -3vw;
    @include transform(rotate(180deg));
  }
  .product-name {
    display: none;
    position: absolute;
    top: 1.4rem;
    left: 50%;
    width: 50vw;
    @include transform(translateX(-50%));
    text-align: center;
    font-size: 0.24rem;
    color: #18131c;
    opacity: 0.9;
  }
  .swiper-slide{
    opacity: 0.2;
  }
  .swiper-slide-next{
    opacity: 1;
    .product-name{
      display: block;
    }
  }
  .item-content{
    position: relative;
  }
}
.dest-block{
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  display:-ms-flexbox;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  /*混合版本语法*/
  -ms-flex-align: center;
  /*新版本语法*/
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  /*混合版本语法*/
  -ms-flex-pack: center;
  /*新版本语法*/
  -webkit-justify-content: center;
  justify-content: center;
  @include size(6.75rem,4.04rem);
  margin: 0 auto;
  //margin-top: 100px;
  background: url("../images/box-bottom.jpg") no-repeat;
  background-size: 100%;
  .item{
    @include size(26%,auto);
    margin: 0 0.1rem;
    text-align: center;
  }

}

.btn-writecard{
  margin-top: 0.4rem;
}